<% if current_user.try(:admin?) %>
  <%= form_tag("/admins", method: "POST") do %>
    <%= label_tag "email", "Email Address" %>
    <%= text_field_tag "email" %>

    <%= submit_tag "Add Admin", class: "btn btn-primary" %>
  <% end %>
<% else %>
  <h3>Must be admin to view this page</h3>
  <%= link_to "Return Home", current_user, class: "btn btn-link" %>
<% end %>
