<div id="map-canvas"></div>

<%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=' + ENV["google_maps_api_key"] +
'&callback=initialize'%>

<script type="text/javascript">
function initialize() {
  var latLng,
      marker;
  var openWindow;
  var mapOptions = {
    center: { lat: <%= @location.lat %>, lng: <%= @location.lon %>},
    zoom: 6,
    mapTypeId: google.maps.MapTypeId.TERRAIN
  };

  var map = new google.maps.Map(document.getElementById('map-canvas'),
  mapOptions);

  <% @hospitals.each do | hospital | %>
    latLng = new google.maps.LatLng(<%= hospital.lat %>, <%= hospital.lon %>);
    marker = new google.maps.Marker({
      position: latLng,
      map: map,
      title: "<%= hospital.name %>",
      icon: "<%= image_url('Red_Cross.png') %>"
    });

  var contentString = '<div id="content">'+
      '<h5 id="firstHeading" class="firstHeading"><%= hospital.name %></h5>'+
      '<div id="bodyContent">'+
      '<p><%= hospital.description || "No descripion provided" %></p>'+
      '<h6>Features</h6>' +
      '<ul>' +
         <% hospital.features.each do |feature| %>
          "<li><%= feature.name.capitalize %></li>" +
         <% end %>
      '</ul>'+
      '<h6>Location</h6>' +
      '<ul>' +
          "<li>Lat: <%= hospital.lat %></li>" +
          "<li>Lon: <%= hospital.lon %></li>" +
      '</ul>' +

      '</div>'+
    '</div>';

    addInfoWindow(marker, contentString);
  <% end %>

    latLng = new google.maps.LatLng(<%= @location.lat %>, <%=  @location.lon  %>);
    marker = new google.maps.Marker({
      position: latLng,
      map: map,
      title: "<%= @location.name %>",
      <% if @location.location_type == "ship" %>
      icon: "<%= image_url('ship.png') %>"
      <% else %>
      icon: "<%= image_url('fixed.png') %>"
      <% end %>
    });

    addInfoWindow(marker, '<div id="content">'+
      '<h5 id="firstHeading" class="firstHeading"><%= @location.name %></h5>'+
      '<div id="bodyContent">'+
      '<p><%= @location.location_type.capitalize %></p>'+
      '<h6>Location</h6>' +
      '<ul>' +
          "<li>Lat: <%= @location.lat %></li>" +
          "<li>Lon: <%= @location.lon %></li>" +
      '</ul>' +
        '</div>'+
      '</div>'
    )

    function addInfoWindow(marker, contentString) {

        var infoWindow = new google.maps.InfoWindow({
          content: contentString
        });

        google.maps.event.addListener(marker, 'click', function() {
          if (openWindow) {
            openWindow.close();
          }
          infoWindow.open(map,marker);
          openWindow = infoWindow;
        });
    }

}
</script>