<%= link_to "Back to User Profile", current_user %>
<h3 class="heading">Hospitals</h3>
<div class="form map-form">
  <%= form_tag("/search/" + @location.id.to_s, method: "GET", class: "form") do %>
  <%= render "features_check_boxes" %>
  <%= submit_tag("Search", class: "btn btn-default") %>
  <% end %>
  <br />

</div>


<%= render "map" %>

<script type="text/javascript">
;(function() {
    function getShipLocation (url) {
        var response = $.ajax(url)
                        .done(saveLocationToDatabase)
                        .fail();
    }

    function saveLocationToDatabase (data) {
      var lat = data[1],
          lon = data[2];
          $.ajax({url: "<%= :edit_location %>/" + lat + "/" + lon,
                  type: "POST"});
    }

    var marineTrafficAPI = "http://services.marinetraffic.com/api/exportvessel/" +
    "<%= ENV["marine_traffic_api_key"] %>/protocol:json/mmsi:<%= @location.id_number %>";
})();
</script>