<% if current_user.try(:admin?) %>
<div class="form map-form">
  <%= form_tag("/hospitals", method: "POST", class: "form") do %>

      <%= label_tag("name", "Hospital Name") %>
      <%= text_field_tag("name") %>
      <br />
    <%= render "features_check_boxes", features: @features %>
    <br />

    <%= submit_tag("Create Hospital", class: "btn btn-default") %>
  <% end %>
</div>

<% else %>
  <h3>Must be admin to view this page</h3>
  <%= link_to "Return Home", current_user, class: "btn btn-link" %>
<% end %>
