<%= form_for @new_location do |location_form| %>
  <%= location_form.label :name, "Name: " %>
  <%= location_form.text_field :name %>

  <%= location_form.label :location_type, "Location Type: " %>
  <%= location_form.select :location_type,
            options_for_select( [["Fixed", 0], ["Ship", 1]]),
            class: "dropdown-menu type-menu"%>

  <span class="lat-lon">
  <%= location_form.label :lat, "Latitude: " %>
  <%= location_form.text_field :lat%>

  <%= location_form.label :lon, "Longitude: " %>
  <%= location_form.text_field :lon %>
  </span>
  <span class="ship-id hidden">
  <%= location_form.label :mmsi, "MMSI: " %>
  <%= location_form.text_field :mmsi, class: "ship-id" %>
  <%= location_form.label :imo, "IMO: " %>
  <%= location_form.text_field :imo, class: "ship-id"%>
</span>
  <%= location_form.submit "Create Location", class: "btn btn-primary"%>
<% end %>

<script type="text/javascript">
var latLonFields = $(".lat-lon"),
    idFields = $(".ship-id");

$("#location_location_type").change(function(event) {

  if (event.target.value === "0") {
    latLonFields.removeClass("hidden");
    idFields.addClass("hidden");
  }
  else if (event.target.value === "1")
  {
    latLonFields.addClass("hidden");
    idFields.removeClass("hidden");
  }
})
</script>