<!DOCTYPE html>
<html>
<head>
  <title>RMILocator</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "RMI", :user %></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%= current_user.email %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
              <li class="divider"></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <% end %>

    <div class="container-fluid">

      <% unless flash[:errors].nil? %>
      <% flash[:errors].each do | error | %>
      <div class="alert alert-warning"><%= error %></div>
      <% end %>
      <% end %>

      <% unless flash[:notices].nil? %>
      <% flash[:notices].each do | notice | %>
      <div class="alert alert-info"><%= notice %></div>
      <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
  </html>
